button {
    background-color: #003DD9;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
}

.btn_small {
    width: 117px;
}

.btn_large {
    width: 420px;
}