.message {
    background-color: #011C28;
    border-radius: 4px;
    font-size: 18px;
    padding: 20px;
    color: white;
    position: absolute;
    display: flex;
    bottom: 0;
    margin-left: 25px;
    margin-bottom: 25px;
}

.closeMessage {
    margin-left: 13px;
    cursor: pointer;
}