aside {
    width: 200px;
    height: 100vh;
    background-image: url('../../assets/images/unsplash_m_7p45JfXQo.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.list_menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 30px 30px;
}

.list_menu li {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
    width: 100%;
}

.list_menu li a {
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 12px 10px;
    width: 100%;
}